    
    @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

    
    :root{
      --azul-dnc:#0C70F2;
      --preto-dnc:#303030;
      --cinza-hover:#c9c9c9;
      --fonte-padrao:"Inter";
    }
    
    body{
      margin: 0px;
      padding: 0px;
      background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%),#303030;
      
      background-repeat: no-repeat;


        
    }
    #login{
      margin-right: 5%;
      width: 80px;
      height: 39px;
      background-color: #0C70F2;
      color: white;
      border: 0px;
      font-family: "Inter";
      font-size: 20px;
      font-weight: 600px;
      cursor: pointer;
      

    }
    #principal div a:hover{
      color: var(--cinza-hover);
    }
    
    
    #principal{
      width: 100%;
      height: 90px;
      border: 1px solid black;
      background-color:var(--preto-dnc);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: var(--cinza-hover);
      
    }
    #principal div a{
      font-size: 20px;
      font-weight: 600px;
      color: white;
      text-decoration: none;
      font-family: var(--fonte-padrao);
      align-items: center;
  
    }
    #menu{
      display: flex;
      width: 42%;
      justify-content: space-around;
      align-items: center;
      margin-left: 5%;
    }

      section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
      }
      header{
        font-family: var(--fonte-padrao);
        color: white;
        text-align: center;
      }
      header h1{
        font-weight: 800;
        font-size: 80px;
        text-transform: uppercase;
        
        margin-bottom: 20px;
       
        
      }
      header h2{
        
        font-family: var(--fonte-padrao);
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 100px;
      }
    /* Formulario*/
    form{
      color: white;
      font-family: var(--fonte-padrao);
      font-size: 30px;
      font-weight: 600px;
    }
    .form-group{
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    form input{
      height:35px;
      border: 0px;
      border-radius: 50px;
      padding: 10px;
    }
    form label{
      margin: 10,0,10,0;
    }
   form input::placeholder{
    color: rgba(57, 57, 57, 0.5);
  

   }
   .checkbox-itens label{
    font-size: 25px;

   }
   .checkbox-itens{
    display:flex;
    justify-content: space-around;
    align-items: center;
   }
   input[type=checkbox]{
    transform: scale(1.7);
   }

   input[type=submit]{
    background: rgba(12, 112, 242, 0.9);
    color: white;
    height: 56px;
    width: 100%;
    margin-top: 35px;
    align-items: center;
    cursor: pointer;
   }

   input[type=submit]:hover{
    color: #023576;
   }